<ion-header>
  <ion-navbar>
    <ion-title>Entreprises</ion-title>
    <ion-item>
      <ion-label>Filtre</ion-label>
      <ion-select [(ngModel)]="filter" multiple="true" (ionChange)="showSelectValue(filter)">
        <ion-option value="{{skill.id}}" *ngFor="let skill of skills.data">{{skill.name}}</ion-option>
      </ion-select>
    </ion-item>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item-sliding #item *ngFor="let business of businesses">
      <ion-item>
        <ion-thumbnail item-start>
          <img src="{{business.logo}}">
        </ion-thumbnail>
        <h2>{{business.name}}</h2>
        <!-- <p>{{skill.name}}</p> -->
        
        <button ion-button clear item-end (click)="openModal(business.id)">Voir</button>
        <button ion-button item-end>
          <ion-icon name="star"></ion-icon>
        </button>
      </ion-item>

      <ion-item-options side="right">
        <button ion-button color="danger" (click)="(item)">Abus</button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="page <totalPage">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
